/*Tipografía-Estilos generales*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;600;900&family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,700&family=Quicksand:wght@300;400&display=swap'); */
@font-face {
    font-family: 'ArchitypeRenner-Regular'; /* Nombre que asignas a la fuente */
    src: url('/css/fonts/ArchitypeRenner-Regular.otf') format('opentype'); /* Ruta al archivo de la fuente */
  }

*{
   border: 0;
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'ArchitypeRenner-Regular', sans-serif; 
}
